KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:8765/oauth/kakao/callback
KAKAO_TOKEN_FILE=/data/kakao-token.json
KAKAO_MESSAGE_LINK_URL=https://github.com/QuietString/cgv-open-push
KAKAO_REQUEST_TIMEOUT_SECONDS=15
